*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --inter: "Inter", sans-serif;
    --space: "Space Grotesk", sans-serif;
    --color1: #394792;
    --color2: #232323;
    --color3: #D9D9D9;
    --color4: #325B97;
    --color5: rgba(50, 90, 151, 0.10);
    --color6: #FFC236;
    --color7: #000000;
    --color8: rgba(255, 255, 255, 0.16);
}
body{
    font-family: var(--inter);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 0.80;
}
a{
    display: inline-block;
    text-decoration: none;
}
ol,ul{
    list-style-type: none;
}
span{
    display: inline-block;
}